<body style="background:#000000">

<FONT FACE="impact" SIZE=10 COLOR="#73AEF2">
<h1 ALIGN=center> Bienvenido a Blogsport</h1>
</FONT>

<FONT FACE="arial" SIZE=6 COLOR="#FFFFFF">
<h3 ALIGN=center> <%= link_to 'Crear un nuevo post', new_post_path %></h3>
</FONT>